.home-page-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 10px; 
    align-items: center;
}

.dev-home-page-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 30px; 
    padding: 15px;
    
    
    
}


.options-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio superior para separar el botón del resto del contenido */
}

.small-button {
    padding: 5px 10px; /* Ajusta el padding para hacer el botón más pequeño */
    font-size: 14px; /* Ajusta el tamaño de fuente */
    margin: 10px;
    width: 150px;
    height: 35px;
}

.add-button {
    padding: 5px 10px; /* Ajusta el padding para hacer el botón más pequeño */
    font-size: 14px; /* Ajusta el tamaño de fuente */
    margin: 10px;
    width: 100px;
    height: 35px;
}








.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Para centrar verticalmente los elementos */
    align-items: center; 
   
}
.close {
    align-self: flex-end; /* Para que el botón de cerrar esté a la derecha */
}
.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Espacio entre las filas */
}


.filter-dropdown {
        position: absolute;
        top: calc(10%+10px);
        left: 65%;
        transform: translateX(-50%);
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        min-width: 170px; /* Establece un ancho mínimo */
    } 

    .filter-dropdown ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .filter-dropdown li {
        padding: 5px 10px;
        cursor: pointer;
    }

    .filter-dropdown li:hover {
        background-color: #f0f0f0;
    }
    








/* En tu archivo CSS */
.icon-filter-container {
    position: relative; /* Cambia a posición relativa */
    cursor: pointer;
}

