.dev-card-manager {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el componente horizontalmente */
    margin-top: 50px; /* Espacio superior */
    color: #fff;
    font-size: .8rem;
}

.dev-card-manger-header {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #000;
}

.dev-card-manager-name {
    display: flex;
    flex-direction: column;
    margin-right: 16px; /* Ajuste de margen para espacio del botón */
}

.dev-card-manager-numTask {
    opacity: .6;
    color: #000;
}

.dev-card-manger-icon {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.dev-card-manager-showMore {
    cursor: pointer;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    border: 1px solid #000;
    transition: .3s ease background-color;
}

.dev-card-manager-showMore:hover {
    opacity: .8;
}

.dev-card-manager-text {
    display: block;
}

